*{
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-image: url(Story-board.jpg);
    background-repeat: no-repeat;
    background-size: 1650px 850px;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;

}
 body .game-title{
    background-color:none;
    width: 96%;
    height: 20%;
}
.game-title .title-box{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: whitesmoke;
   
}
body .leaderboard {
    background-color: rgba(16, 67, 161,0.5);
    box-shadow: 0px 5px 15px;
    border-radius: 10px;
   
    height: 83vh;
    width: 24vw;
   
   
}

.leaderboard h3 {
    color: antiquewhite;
    text-align: center;
}

.player-list {
    overflow :hidden;
}
.player-list div {
    background-color: antiquewhite;
    height: max-content;
    width: 80%;
    padding: 5%;
    margin: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player-list p {
    font-weight: 200;
    margin: 0%;
    padding: 0%;
}

body .box-container {
    background-color: rgba(16, 67, 161,0.5);
    border-radius: 10px;
    width: 70vw;
    height: 83vh;
    box-shadow: 0px 5px 15px;
    
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}


.box-container>.voted-storybox {
    background-color: antiquewhite;
    border-radius: 10px;
    width: 94%;
    height: 45%;
    padding: 10px;
}
.box-container>.Pactivity-box{
    background-color: antiquewhite;
    border-radius: 10px;
    width: 94%;
    height: 25%;
    padding: 10px;
}

.enter-box {
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    width: 88%;
    background-color: antiquewhite;
}

.box-container button {
    border-radius: 10px;
    padding: 8px 10px;
    border: none;
    width: 10%;
    padding: 10px;
    background-color: antiquewhite;
}

.text-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 96%;
}

.popup-container {
    position: fixed;
    background-image: url(Story-board.jpg);
    background-repeat: no-repeat;
    background-size: 1650px 850px;
    height: 100vh;
    width: 100vw;
    
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
}
.glass-container{
    display: flex;
    justify-content: space-around;
    align-content: center;

    position: relative;
    width: 56%;
    height: 40%;
    padding: 30px;
    border-top-right-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0,0, 0.5);
    overflow: hidden;
    color: #000;

    animation:zoom;
    animation-duration: 0.8s;

}
@keyframes zoom{
    from{transform: scale(0.3);}
    to{transform: scale(1);}
}
.glass-container .rule-box{
    background-color: aliceblue;
    box-shadow: 0px 5px 15px;
    text-align: center;
    border-radius: 15px;
    height: 300px;
    width: 380px;
}
.glass-container .popup-screen {
    /*maintain 3:2 width:height*/
    width: 390px;
    height: 260px;
    background-color: rgb(16, 67, 161);
    border-radius: 10px;
    box-shadow: 0px 5px 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.popup-screen h2 {
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: center;
    color: antiquewhite;
    margin: 0%;
    margin-top: 20px;
}

.popup-screen input {
    font-size: larger;
    width: 65%;
    border-radius: 10px;
    padding: 5px;
    border: none;
    text-align: center
}

.popup-screen button {
    background-color: antiquewhite;
    font-size: large;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    border: none;
}

/* vote-box */
.pop-back {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1002;

}

.popup-vote {
    width: 100%;
    height: 100%;
    background-color: rgb(16, 67, 161);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /*Scroll situation where x-axis is hidden well as we dont need x axis to be scrollable*/
    overflow-x: hidden;
    overflow-y: scroll;
    /* Made y-axis scrollable becoz that's what we need*/
   
}

.popup-vote>div {
    height: max-content;
    min-width: 50px;
    width: max-content;
    max-width: 20%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
    border-width: 5px;
    border-color: black;
    margin: 5px;
}

.text-box {
    /* background-color: antiquewhite; */
    width: 90%;
    height: max-content;
    max-height: 100%;
    border-radius: 10px;
    word-wrap: normal;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.popup-vote button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 90%;
    margin: 5px;
}

.popup-vote .pop-back1 {
    /* border-color: blueviolet; */
    background-color: rgb(173, 117, 224);
}

.popup-vote .pop-back2 {
    /* border-color: rgb(226, 95, 43); */
    background-color: rgb(216, 131, 97);
}

.popup-vote .pop-back3 {
    /* border-color: rgb(226, 214, 43); */
    background-color: rgb(226, 214, 43);
}

.popup-vote .pop-back4 {
    /* border-color: rgb(108, 197, 25); */
    background-color: rgb(108, 197, 25);
}

.popup-vote .pop-back5 {
    /* border-color: rgb(25, 197, 174); */
    background-color: rgb(25, 197, 174);
}

.popup-vote .pop-back6 {
    /* border-color: rgb(64, 19, 102); */
    background-color: rgb(79,163,236);
}

.popup-vote .pop-back7 {
    /* border-color: rgb(221, 52, 255); */
    background-color: (221, 52, 255);
}

.popup-vote .pop-back8 {
    /* border-color: rgb(121, 10, 10); */
    background-color: rgb(121, 10, 10);
}

.prevent-player {
    width: 100%;
    height: 100%;
    background-color: rgba(250, 235, 215, 0.377);
    z-index: 1050;
    position: absolute;
    top: 0%;
    left: 0%;
}

.prevent-play {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(16, 67, 161);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 900;
    width: 100vw;
    height: 100vh;
}