*{
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-image: url(in-game-tile.png);
    background-size: 300px;
    background-color: rgb(31, 83, 151);
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;

}
 body .game-title{
    background-color:none;
    width: 96%;
    height: 20%;
}
.game-title .title-box{
    text-shadow: 0 0 3px #494949, 0 0 5px #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: whitesmoke;
   
}
.leaderboard {
    background-color: rgba(16, 67, 161,0.5);
    border-radius: 10px;
    box-shadow: 0px 5px 15px;
    height: 83vh;
    width: 24vw;
    padding: 5px;
}

.leaderboard h3 {
    color: antiquewhite;
    text-align: center;
}

.leaderboard hr {
    width: 80%;
}

.player-list {
    overflow :hidden;
}
.player-list div {
    background-color: antiquewhite;
    height: max-content;
    width: 80%;
    padding: 5%;
    margin: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.player-list p {
    font-weight: 200;
    margin: 0%;
    padding: 0%;
}

.player-list span {
    width: 100%;
    font-size: x-small;
    margin: 0%;
    padding: 0%;
}

.player-list hr {
    width: 100%;
}

.box-container {
    background-color: rgba(16, 67, 161,0.5);
    border-radius: 10px;
    width: 70vw;
    height: 83vh;
    box-shadow: 0px 5px 15px;
    padding: 5px; 

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}


.box-container>.voted-storybox {
    border: antiquewhite solid 3px;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 94%;
    height: 45%;
    padding: 10px;
}
.box-container>.Pactivity-box{
    backdrop-filter: blur(2px);
    border-radius: 10px;
    border: antiquewhite solid 3px;
    width: 94%;
    height: 25%;
    padding: 10px;
}

.box-container .enter-box {
    font-size: large;
    border-radius: 10px;
    width: 88%;
    border: antiquewhite solid 3px;
    background-color: antiquewhite;
    /* outline-color: rgb(0, 255, 179); */
    outline-color: rgb(0, 162, 255);
}

.box-container button {
    border-radius: 10px;
    padding: 8px 10px;
    border: solid antiquewhite 1px;
    width: 10%;
    padding: 10px;
    background-color: rgb(0, 162, 255);
    /* background-color: rgb(63, 185, 15); */
    transition-duration: 00.3s;
    outline-color: rgb(0, 162, 255);

}
.box-container button:hover{
    background-color: rgb(151, 217, 255);
    /* background-color: rgb(125, 214, 103); */
    transform: scale(1.05);
}

.text-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 96%;
}

.popup-container {
    position: fixed;
    background-image: url(user-name-tile.png);
    background-size: 300px;
    /* background-color:rgb(13, 53, 139); */
    height: 100%;
    width: 100%;
    
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .popup-container .creators{
    height: 100px;
    width:390px;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 0px 5px 15px;
    position: absolute;
    left: 23%;
    bottom: 25%;

    animation-name: fadein;
    animation-duration: 4s;
}
@keyframes fadein{
    from{opacity: 0;}
    to{opacity: 1;}
} */
.glass-container{
    display: flex;
    justify-content: space-around;
    align-content:center;
    flex-wrap: wrap;
    flex-direction: column;

    position: relative;
    width: 850px;
    height: 55%;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
   
    background-color: rgba(11, 42, 100, 0.15);
    /* background-color: rgba(255, 255, 255, .15); */
  
    backdrop-filter: blur(5px);


    animation:zoom;
    animation-duration: 0.2s;

}
@keyframes zoom{
    from{transform: scale(0.3);}
    to{transform: scale(1);}
}
.glass-container .rule-box{
    /* background-color: aliceblue; */
    background: none;
    /* box-shadow: 0px 5px 15px; */
    text-align: start;
    font-size: medium;
    border-radius: 15px;
    height: 380px;
    width: 400px;
    color: antiquewhite;
    margin-right: 10px;
    order: 1;
}
/* .glass-container .creators{
    background-color: rgb(16, 56, 129);
    height: 20%;
    width: 200px;
    border-radius: 15px;
    
} */
.glass-container .popup-screen {
    /*maintain 3:2 width:height*/
    width: 390px;
    height: 260px;
    /* background-color: rgb(16, 67, 161); */
    background: none;
    border-radius: 10px;
    /* box-shadow: 0px 5px 15px; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    order: 2;
    margin-left: 10px;
}

.popup-screen h2 {
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: center;
    color: antiquewhite;
    margin: 0%;
    margin-top: 20px;
}

.popup-screen input {
    font-size: larger;
    width: 65%;
    /* border-radius: 10px; */
    padding: 10px;
    border: none;
    text-align: end;
    background: none;
    outline: none;
    border-bottom: antiquewhite solid 2px;
    color: antiquewhite;
}
.popup-screen input::placeholder{
    color: white;
    opacity: 65%;       /*__Placeholder visible nahi tha so white karke opacaity adjust kiya*/
}
.popup-screen button {
    background-color: antiquewhite;
    font-size: large;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    border: none;
    transition-duration: 0.3s;
}
.popup-screen button:hover{
    background-color: rgb(79, 163, 236);
    transform: scale(1.1);
    color: antiquewhite;
}

/* vote-box */
.pop-back {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1002;

}

.popup-vote {
    width: 100%;
    height: 100%;
    background-color: rgb(16, 67, 161);
    background-image: url(in-game-tile.png);
    background-size: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /*Scroll situation where x-axis is hidden well as we dont need x axis to be scrollable*/
    overflow-x: hidden;
    overflow-y: scroll;
    /* Made y-axis scrollable becoz that's what we need*/
   
}

.popup-vote>div {
    height: max-content;
    min-width: 50px;
    width: max-content;
    max-width: 20%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
    border-width: 5px;
    margin: 5px;
}

.text-box {
    background-color: rgba(255,255,255,0.5); 
    width: 84%;
    height: max-content;
    max-height: 100%;
    border-radius: 10px;
    word-wrap: normal;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.popup-vote button {
    padding: 10px;
    background-color:whitesmoke;
    color: black;
    border-radius: 10px;
    border: none;
    width: 90%;
    margin: 5px;
    
}
.popup-vote button:hover{
    background-color: black;
    color: white;
    transform: scale(1.07);
}

.popup-vote .pop-back1 {
    /* border-color: blueviolet; */
    background-color: rgba(173, 117, 224);
}

.popup-vote .pop-back2 {
    /* border-color: rgb(226, 95, 43); */
    background-color: rgba(216, 131, 97);
}

.popup-vote .pop-back3 {
    /* border-color: rgb(226, 214, 43); */
    background-color: rgb(226, 214, 43);
}

.popup-vote .pop-back4 {
    /* border-color: rgb(108, 197, 25); */
    background-color: rgb(108, 197, 25);
}

.popup-vote .pop-back5 {
    /* border-color: rgb(25, 197, 174); */
    background-color: rgb(25, 197, 174);
}

.popup-vote .pop-back6 {
    /* border-color: rgb(64, 19, 102); */
    background-color: rgb(79,163,236);
}

.popup-vote .pop-back7 {
    /* border-color: rgb(221, 52, 255); */
    background-color: (221, 52, 255);
}

.popup-vote .pop-back8 {
    /* border-color: rgb(121, 10, 10); */
    background-color: rgb(121, 10, 10);
}

.prevent-player {
    width: 100%;
    height: 100%;
    background-color: rgba(250, 235, 215, 0.377);
    z-index: 1050;
    position: absolute;
    top: 0%;
    left: 0%; 
    text-align: center;
    color: aliceblue;
    animation: fade 500ms linear 0ms infinite;
    animation-duration: 4s ;
}
@keyframes fade{
    0%   {background-color:rgba(16, 56, 131, 0.6);}
  50%  {background-color: rgba(29, 180, 160, 0.6);}
  100% {background-color: rgba(16, 56, 131, 0.6);}
}
.prevent-play {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(16, 67, 161);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 900;
    width: 100vw;
    height: 100vh;
}
/*Scroll bar style*/
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(66, 148, 224); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b2cdff; 
}
